.calculator-container {
  flex-direction: column;

  @media (min-width: 768px) {
    & {
      flex-direction: row;
    }
  }
}

.calculator-title {
  font-size: 2.5rem;
  color: $pink;
  background: linear-gradient(140deg, $dark-orange, $pink);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Calculator,
.Calculator__screen {
  padding: 0.5rem;
  border-radius: 1rem;
}

.Calculator {
  max-width: 350px;
  background-color: $off-white;
  width: 100%;
  border: 2px solid $off-black;
}

.Calculator__screen {
  background-color: $off-black;
  color: $pink;
  text-align: end;
  font-size: 1.3rem;
  border: 0.5rem solid $light-blue;
  margin-bottom: 0.5rem;
}

.Calculator__buttons--holder {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.3rem;
}

.row {
  display: contents;
}

.row:last-child .last-number {
  grid-column: span 2;
  background-color: $pink;
}

button.operator,
button.number {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $light-blue;
  border: none;
  height: 3rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  color: $off-white;
  grid-column: span 1;
  border-radius: 2rem;
}

button.operator.orange {
  background-color: $dark-orange;
  color: $dark-blue;
}

button:hover {
  opacity: 0.9;
}
