.calculator-container {
  flex-direction: column;

  @media (min-width: 768px) {
    & {
      flex-direction: row;
    }
  }
}
.calculator-title {
  font-size: 2.5rem;
  background: linear-gradient(140deg, $dark-orange, $pink);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Calculator {
  max-width: 350px;
  background-color: aliceblue;
  width: 100%;
}

.Calculator__screen {
  background-color: $off-white;
  color: $pink;
  padding: 0.7em;
  text-align: end;
  font-size: 1.3rem;
}

.Calculator__buttons--holder {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1px;
}

.row {
  display: contents;
}

.row:last-child .last-number {
  grid-column: span 2;
}

button.operator,
button.number {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $light-blue;
  border: none;
  height: 3rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  color: $off-white;
  grid-column: span 1;
}

button.operator.orange {
  background-color: $dark-orange;
  color: $dark-blue;
}

button:hover {
  opacity: 0.9;
}
